/* override table width restrictions */

div.shadow {	
	-webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	margin:2em;
	}

img {
  max-width: 98%;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
  margin: 1em 0 2.5em 1em
}

.logo {
   margin:0; 
   padding:0;
   box-shadow: none;
   border:10px;
}

body {background: white}

a.topbarlink {font-weight:bold; padding-right:3em;  font-variant: small-caps; font-size: 90%; color:black;}

.fixedbar {background-color: #F8F8F8; padding:1.2em; margin-top:0;height:4em;position: fixed;width:100%; margin-bottom:2em;}


td > p {font-size:90%;}
th > p {padding-bottom:0; margin-bottom:0;}

.pre {font-size: 120%;}

@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}