
p.FM_Z_Product3 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_Product3 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_Product1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro Light';
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_Product1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro Light';
        font-style:      normal;
        font-weight:     bold;
        font-size:       20.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Bullet1 {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Bullet1 {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_HeaderLeft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_HeaderLeft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_4Head {
        margin-left:     43.200pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      17.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #999999;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_4Head {
        margin-left:     43.200pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      17.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #999999;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_4Head {
        
            font-family:"Adobe Clean";
            color:black;

}
p.FM_Z_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_1Head {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       21.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_1Head {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       21.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_1Head {
        
            font-family:"Adobe Clean";
            color:black;

}
p.FM_Z_HeaderRight {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_HeaderRight {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_TableAnchor {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_TableAnchor {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_DocTitle2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro SmBd';
        font-style:      normal;
        font-weight:     bold;
        font-size:       16.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_DocTitle2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro SmBd';
        font-style:      normal;
        font-weight:     bold;
        font-size:       16.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_TableHeadCenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_TableHeadCenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_TableHead {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_TableHead {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_TableBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_TableBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_DocTitle1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro SmBd';
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_DocTitle1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro SmBd';
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_ChapNum {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       30.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_ChapNum {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     'Minion Pro';
        font-style:      normal;
        font-weight:     bold;
        font-size:       30.0pt;
        color:           #ff0000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Z_ChapNum {
        
                font-family:"Adobe Clean";
                color:black;

}
p.FM_Z_Trademark {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Z_Trademark {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_CodeReference {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.212em;
        font-family:     'Courier Std';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_CodeReference {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.212em;
        font-family:     'Courier Std';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Body {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      10.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
caption.FM_Body {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      10.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.5pt;
        color:           #000000;
        background-color: none;
        text-decoration:  none  ;
		letter-spacing:  0.00em;
        
}
p.FM_Body {
        
           font:14px adobe-clean, Segoe UI, Verdana, Arial, Helvetica, sans-serif, SimSun-18030;

}
OL, UL {
        margin-top: 0px;
        margin-bottom: 0px;
}

span.FM_CourierBold {
        font-family:     'Courier Std';
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_Z_Example {
        font-style:      normal;
        font-weight:     bold;
        text-decoration :  none  ;
		
}
span.FM_HyperText {
        font-style:      normal;
        color:           #0000ff;
        text-decoration :  underline  ;
		
}
span.FM_Z_CodeRef_Num {
        font-family:     'Myriad Pro';
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        text-decoration :  none  ;
		
}
span.FM_SmallCaps {
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
span.FM_BoldItalic {
        font-style:      italic;
        font-weight:     bold;
        text-decoration :  none  ;
		
}
span.FM_Italic {
        font-style:      italic;
        text-decoration :  none  ;
		
}
span.FM_HyperTextItalic {
        font-style:      italic;
        color:           #0000ff;
        text-decoration :  underline  ;
		
}
span.FM_CourierItalic {
        font-family:     'Courier Std';
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_Z_Editorial {
        color:           #ff6600;
        text-decoration :  none  ;
		
}
span.FM_Z_Editorial {
        
                     color:black;

}
span.FM_Z_Arrow {
        font-family:     'Pierre Dingbats';
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_CourierComment {
        font-family:     'Courier Std';
        font-size:       10.0pt;
        color:           #999999;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_CheckThis {
        color:           #01b301;
        
}
span.FM_Z_Bullet {
        font-family:     'Pierre Dingbats';
        font-size:       6.0pt;
        text-decoration :  none  ;
		
}
span.FM_Bold {
        font-weight:     bold;
        text-decoration :  none  ;
		
}
span.FM_Courier {
        font-family:     'Courier Std';
        font-size:       10.0pt;
        color:           #000000;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_Z_NoteCaution {
        font-weight:     bold;
        color:           #ff0000;
        text-decoration :  none  ;
		letter-spacing:  0.00em;
        
}
span.FM_Z_NoteCaution {
        
                       color:black;

}
span.FM_HyperText_Courier {
        font-family:     'Courier Std';
        font-size:       10.0pt;
        color:           #0000ff;
        text-decoration :  underline  ;
		letter-spacing:  0.00em;
        
}