/* override table width restrictions */

div.shadow {	
	-webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	margin:2em;
	}

img {
  max-width: 98%;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
  margin: 1em 0 2.5em 1em
}

.logo {
   margin:0; 
   padding:0;
   box-shadow: none;
   border:10px;
}

td > p {font-size:90%;}
th > p {padding-bottom:0; margin-bottom:0;}

@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}